.about-row {
    @include makeRow($no-padding:true);
    display: block;
}

.about {
  @include makeColumn($size:12, $offset:0);
  position: relative;
  padding: 50px 7px 40px 7px;
  margin: 0 12px;

  @include breakpoint($medium) {
  	@include makeColumn(md, $size:8, $offset:2);
    text-align: center;
    margin: 0 auto;
  }
}

.about-header {
  text-align: center;
}

.about-description {

  @include breakpoint($medium) {
    text-align: center;
  }
}