.hero-cover {
  position: relative;
  width: 100%;
  height: $hero-height;
  background-color: #231F20;
  border-bottom: 8px solid #1D222B;
}

.hero-img {
  position: relative;
  background-image: url("../images/mux_cover9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: .3;
  width: 100%;
  height: $hero-height;

  @include breakpoint($medium) {
    opacity: 1;
  }

  @include breakpoint($large) {
    background-image: url("../images/mux_cover90.jpg");
  }
}

.slogan-wrapper {
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 100;
  top: 7rem;

  @include breakpoint($medium) {
    max-width: 40%;
    position: absolute;
    margin: 0;
    text-align: left;
    top: 100px;
    left: 55px;
  }

  @include breakpoint($large) {
    max-width: 50%;
    top: 110px;
    left: 64px;
  }
}

.slogan {
  font-size: 3.75rem;
  line-height: 3.65rem;
  @include breakpoint($medium) {
/*    color: #CDD6C1;*/
    color: $white;
    line-height: 3.25rem;
    text-align: left;
    font-size: 2.75rem;
  }
}

.slogan-subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}