/*--------------------*         Global
\*--------------------*/
/*--------------------*         Colors
\*--------------------*/
/*--------------------*       molecules
\*--------------------*/
/**
 * Flex Grid -
 * Version: 0.3.2
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables:
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 * $fg-edge will inform how much spacing should be on the edge of each row.
 *
 * The grid will name columns, rows, offsets based on these three variables:
 * $fg-class-row string used for the row class
 * $fg-class-col string used for the column class
 * $fg-class-off string used for the offset class
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Class Name Defaults
 *
 * Define class names for columns, rows and offsets in case compatibility with other
 * libraries is necessary.


/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
.services-row, .row, .about-row, .contact-row, .services, .project-wrapper, .about {
  display: flex;
  display: -webkit-flex; }

/**
 * Row wrapper class, flex box parent.
 */
.services-row, .row, .about-row, .contact-row {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media only screen and (min-width: 768px) {
    .services-row, .row, .about-row, .contact-row {
      margin-left: -0.75rem;
      margin-right: -0.75rem; } }
  @media only screen and (min-width: 768px) {
    .services-row, .row, .about-row, .contact-row {
      padding-left: 3rem;
      padding-right: 3rem; } }

.services, .project-wrapper, .about {
  box-sizing: border-box;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-flex-direction: column;
  -webkit-flex-grow: 0;
  -webkit-flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media only screen and (min-width: 768px) {
    .services, .project-wrapper, .about {
      padding-left: 0.75rem;
      padding-right: 0.75rem; } }

/**
 * Generate a set of grid column placeholders using a namespace
 *
 * %col-[namespace] for intelligent column division
 * %col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * %off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.services, .project-wrapper, .about {
  flex-basis: 100%;
  max-width: 100%;
  -webkit-flex-basis: 100%; }

.services, .project-wrapper, .about {
  margin-left: 0%; }

@media only screen and (min-width: 768px) {
  .project-wrapper {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    -webkit-flex-basis: 33.33333%; }
  .services {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
    -webkit-flex-basis: 83.33333%; }
  .project-wrapper {
    margin-left: 0%; }
  .services {
    margin-left: 8.33333%; } }

html {
  font-size: 1.15em; }

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background-color: #f7f5f5; }

code {
  display: block;
  margin: 1rem 0;
  background: #4d4c4c;
  color: #fefefe;
  padding: 2rem; }

fieldset {
  border: none;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

main {
  flex: 1; }

h1 {
  font-size: 2.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 2.75rem; }

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: 700;
  line-height: 2.75rem; }

h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  color: #231f20;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

p {
  font-size: 1.15em;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: #231f20;
  line-height: 1.8rem; }

a {
  color: #818080;
  text-decoration: none; }

a:hover {
  color: gold; }

.scroll-link {
  display: inline;
  padding-left: 20px;
  font-size: 1.1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  color: #231f20;
  line-height: 1.25rem; }
  @media screen and (max-width: 790px) {
    .scroll-link {
      font-size: 1.5rem;
      margin-top: .5rem; } }

.navbar-inverse .navbar-nav > li > a:hover {
  color: gold; }

.navbar-inverse .navbar-nav > li > a:focus {
  color: #818080; }

.services-row {
  padding: 0;
  display: block; }

.services {
  position: relative;
  padding: 20px 7px 40px 7px; }

.services-header {
  margin-bottom: 1rem; }

.services-subheader {
  margin: 1rem 0rem 4rem 0rem; }

.row {
  padding: 0; }

.project {
  border: 1px solid #e5e6e5;
  background-color: #fefefe;
  margin: 0rem 0rem 0rem 0rem; }
  @media only screen and (min-width: 768px) {
    .project {
      margin: 0.25rem 0.15rem 0rem 0.15rem; } }

.project-img {
  max-width: 100%;
  padding: 6% 0rem; }

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fefefe;
  border-bottom: 1px solid #d7d5d5;
  z-index: 10; }

.navbar {
  border: none; }

.nav {
  position: relative; }

.navbar-inverse {
  background-color: #fefefe;
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 7px; }

.navbar-nav {
  display: inline-block;
  position: relative;
  padding-top: 8px; }
  @media only screen and (min-width: 768px) {
    .navbar-nav {
      float: right; } }

.logo {
  display: inline-block;
  position: relative;
  margin: auto;
  margin-top: .5rem;
  max-width: 190px; }
  @media only screen and (min-width: 768px) {
    .logo {
      margin: 0;
      float: left;
      max-width: 290px; } }

.navbar-brand {
  padding: 12px; }
  @media only screen and (min-width: 768px) {
    .navbar-brand {
      padding-left: 0; } }

ul.menu {
  display: none; }
  @media only screen and (min-width: 768px) {
    ul.menu {
      display: inline-block;
      position: relative;
      float: right;
      bottom: 5px; } }

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent; }

.navbar-toggle .icon-bar {
  width: 40px;
  height: 4px;
  margin-top: 12px;
  color: #231F20; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #231F20; }

.navbar-inverse .navbar-toggle {
  border: none;
  padding-top: 4px; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #fefefe;
  padding-bottom: .5rem; }
  @media only screen and (min-width: 768px) {
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
      border: none;
      padding: 0; } }

.hero-cover {
  position: relative;
  width: 100%;
  height: 94vh;
  background-color: #231F20;
  border-bottom: 8px solid #1D222B; }

.hero-img {
  position: relative;
  background-image: url("../images/mux_cover9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: .5;
  width: 100%;
  height: 94vh; }
  @media only screen and (min-width: 768px) {
    .hero-img {
      opacity: 1; } }
  @media only screen and (min-width: 1015px) {
    .hero-img {
      background-image: url("../images/mux_cover90.jpg"); } }

.slogan-wrapper {
  position: absolute;
  text-align: center;
  margin: auto;
  opacity: 100;
  top: 11rem; }
  @media only screen and (min-width: 768px) {
    .slogan-wrapper {
      max-width: 40%;
      position: absolute;
      margin: 0;
      text-align: left;
      top: 100px;
      left: 55px; } }
  @media only screen and (min-width: 1015px) {
    .slogan-wrapper {
      max-width: 50%;
      top: 110px;
      left: 64px; } }

@media only screen and (min-width: 768px) {
  .slogan {
    /*    color: #CDD6C1;*/
    color: #fefefe;
    line-height: 3.25rem;
    text-align: left;
    font-size: 2.75rem; } }

.slogan-subtitle {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2.5rem; }

.footer {
  display: block; }

.footer_wrapper {
  margin: 0 auto;
  width: 80%;
  border-top: 1px solid #d7d5d5; }
  @media only screen and (min-width: 768px) {
    .footer_wrapper {
      padding: 0.5rem 0; } }

.co_name {
  display: block;
  text-align: left; }
  @media only screen and (min-width: 768px) {
    .co_name {
      display: inline-block; } }

.contact_us {
  display: block;
  text-align: left; }
  @media only screen and (min-width: 768px) {
    .contact_us {
      display: inline-block;
      float: right;
      text-align: right; } }

.about-row {
  padding: 0;
  display: block; }

.about {
  position: relative;
  padding: 50px 7px 40px 7px;
  margin: 0 14px; }
  @media only screen and (min-width: 768px) {
    .about {
      text-align: center;
      margin: 0 auto; } }

.about-header {
  text-align: center; }

@media only screen and (min-width: 768px) {
  .about-description {
    text-align: center; } }

.contact-row {
  padding: 0;
  display: block; }

.contact {
  position: relative;
  margin: auto;
  padding: 3.25rem 35px 5rem; }
  @media only screen and (min-width: 768px) {
    .contact {
      padding: 3.25rem 35px 12rem; } }

.contact-leadin {
  text-align: center; }

.contact-email {
  text-align: center; }
